* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    

}

body {
    font: normal 15pt Arial;
    background-color: rgb(0, 195, 255);
    
    
}

header {
    text-align: center;
    color:white;
    padding: 10px;

}

section{
   background: white;  
    width: 50%;  
    margin: auto;    
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
}

p{ 
    margin-top: 20px;
}


footer {
    text-align: center;
    padding: 10px;
    font-style: italic;
    color: white;
}