* {
    margin: 0;
    padding: 0;

}

body {
    font: normal 15pt Arial;
    background-color: rgb(0, 195, 255);
}

header {
    text-align: center;
    color:white;

}

section{
   background: white;  
    width: 75vw;   
    margin: auto;       
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    margin-top: 20px;
}



footer {
    text-align: center;
    padding: 10px;
    font-style: italic;
}